*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    padding: 2rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#drop-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20rem;
    background-color: #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}